<div class="form-group">
  <label for="{{ id }}" *ngIf="label">
    {{ label }}
    <span *ngIf="control?.errors?.['required']" class="text-danger">*</span>
  </label>
  <input
    *ngIf="!mask && type != 'textarea'"
    [(ngModel)]="inputvalor"
    (ngModelChange)="change()"
    [ngClass]="{
      'is-invalid': control.invalid && (control.dirty || control.touched)
    }"
    type="{{ type }}"
    class="form-control"
    id="{{ id }}"
    placeholder="{{ label }}"
  />

  <input
    *ngIf="mask && type != 'textarea'"
    [(ngModel)]="inputvalor"
    (ngModelChange)="change()"
    [ngClass]="{
      'is-invalid': control.invalid && (control.dirty || control.touched)
    }"
    mask="{{ mask }}"
    type="{{ type }}"
    class="form-control"
    id="{{ id }}"
    placeholder="{{ label }}"
  />

  <textarea
    *ngIf="type == 'textarea'"
    rows="10"
    [(ngModel)]="inputvalor"
    (ngModelChange)="change()"
    [ngClass]="{
      'is-invalid': control.invalid && (control.dirty || control.touched)
    }"
    class="form-control"
    id="{{ id }}"
    placeholder="{{ label }}"
  ></textarea>

  <div *ngIf="control.invalid && (control.dirty || control.touched)">
    <span *ngIf="control?.errors?.['required']" class="text-danger"
      >{{ label }} is required</span
    >

    <span *ngIf="control?.errors?.['minlength']">
      {{ label }} min length is
      {{control.errors?.['minlength'].requiredLength}}
    </span>
    <span *ngIf="control?.errors?.['maxlength']">
      {{ label }} max length is
      {{control.errors?.['maxlength'].requiredLength}} caracteres
    </span>

    <span *ngIf="control?.errors?.['email']">
      You must inform an e-mail.
    </span>

    <span *ngIf="control?.errors?.['min']">
      {{ label }} must be at least
      {{control.errors?.['min'].min}}
    </span>
    <span *ngIf="control?.errors?.['max']">
      {{ label }} must be at most
      {{control.errors?.['max'].max}}
    </span>
  </div>
</div>
